
<div class="jumbotron">
  
  <h3>Temperature</h3>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Min</h4>
      <div class="slidecontainer">
        <input type="range" #sliderMin min="0" max="100" value="" [(ngModel)]="temperatureMin" class="slider" (change)="onSlideListenerMin(sliderMin.value)">
        <!--<p>Value: <span id="values">{{temperatureMin}}</span></p>-->
        <input type="text" value={{temperatureMin}} [(ngModel)]="temperatureMin" (change)="onSlideListenerMin(sliderMin.value)"/>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Max</h4>
      <div class="slidecontainer">
        <input type="range" #sliderMax min="0" max="100" value="" [(ngModel)]="temperatureMax" class="slider" (change)="onSlideListenerMax(sliderMax.value)">
        <input type="text" value={{temperatureMax}} [(ngModel)]="temperatureMax" (change)="onSlideListenerMax(sliderMax.value)" />
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Alarm Minimum Value</h4>
      <div class="slidecontainer">
        <input type="range" #sliderAlarmMin min="0" max="100" value="" [(ngModel)]="temperatureAlarmMin" class="slider" (change)="onSlideListenerAlarmMin(sliderAlarmMin.value)">
        <input type="text" value={{temperatureAlarmMin}} [(ngModel)]="temperatureAlarmMin" (change)="onSlideListenerAlarmMin(sliderAlarmMin.value)" />
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Alarm Maximum Value</h4>
      <div class="slidecontainer">
        <input type="range" #sliderAlarmMax min="0" max="100" value="" [(ngModel)]="temperatureAlarmMax" class="slider" (change)="onSlideListenerAlarmMax(sliderAlarmMax.value)">
        <input type="text" value={{temperatureAlarmMax}} [(ngModel)]="temperatureAlarmMax" (change)="onSlideListenerAlarmMax(sliderAlarmMax.value)" />
      </div>
    </div>
  </div>
</div>

