
<div class="setpointsDiv container">
  <div class="row">

    <div class="listColumn col-4">
      <div class="list-compatibility">
        <app-greenhouse-list (selectedEvent)="receiveGreenhouseID($event)"></app-greenhouse-list>
      </div>
    </div>

    <div class="sd col-8">
      <app-temperature-setpoint></app-temperature-setpoint>
      <app-humidity-setpoint></app-humidity-setpoint>
      <app-light-setpoint>
       
      </app-light-setpoint>
      


    </div>
    <button type="submit" class="btn btn-primary mb-2 setSetpointButton">Create new setpoint</button>

  </div>
</div>
