.setpointsDiv {
  margin: 0 auto;
  
}

.listColumn {
  margin: 0 auto;
  
}

.sd {
  margin:0 auto;

}



.setSetpointButton {
  background-color: green;
  color: white;
  font-size: 25px;
  margin-left: 1%;
  height: 60px;
  float: left;
  width: 60%;
}
