<nav class="navbar navbar-default navButton" style="background-color: green">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Greenhouse automation</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/greenhouse-management">Greenhouse Management</a></li>
      <li><a routerLink="/view-data">View Data</a></li>
      <li><a routerLink="/setpoints">Setpoints</a></li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
