/* You can add global styles to this file, and also import other style files */

/* GreenhouseManagement components, including the greenhouse list:*/
.greenhouseManagement {
  color: black;
  text-align: center;
  float: left;
  margin-left: 1.5%;
  height: 655px;
  width: 31.33%;
}

.greenhouseManagement h1 {
  font-size: 30px;
}

.setpoints{
  float:left;
  height: 190px;
  width:60%;
  margin-left: 1%;
  margin-bottom: 8px;
  padding:4px;
  padding-bottom:5px;
}

